doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title プレビュー至上主義 - cmu12
    meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    link(href= paths.style_css rel="stylesheet")
    
  body
    // ヘッダー
    header
      h1 creators_meetup
      
    // 表紙スライド
    section.cover
      h2 「プレビュー至上主義」
      p.cover-lead プログラマが「テストファースト」を唱えるなら、デザイナが主張すべきは何? それが「プレビュー至上主義」。書くより先に見る、書きながら見る、しかもほぼ最終成果物に近い形で。
      p.cover-author 河村 奨 (かわむらつとむ)
    
    // 追記
    section.hello
      p
        | これは
        a(href="http://atnd.org/events/46893") Creators MeetUp
        | で話したスライドです。ライブプレビューしながら、jade + Gruntで作っています。興味あるかたは
        a(href="https://github.com/cognitom/presentation-cmu12") こちらのGitHub
        | も合わせてどうぞ。
      p iPhoneや大きめの画面でも見られるよう調整しました。(2014/1/19)
    
    // スライド
    each s, idx in slides
      section.slide
        if s.title
          h3= s.title
        if s.figure
          figure: img(src=s.figure)
        if s.desc
          p= s.desc
        if s.list
          ul
            each i in s.list
              li= i
    
    // フッター
    footer
      p Thank you!
      figure
        img.avatar-user(src=author.picture)
      ul
        each val, idx in author.socials
          li
            s= idx
            | #{val}
    .bigphoto(data-background=cover.photo)
    
    // スクリプト
    script(src=paths.main_js)
    